@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,900;1,900&display=swap");

/* @font-face {
    font-family: "Noto Sans";
    src: url("./../public/fonts/NotoSans/woff2/NotoSans-Regular.woff2")
            format("woff2"),
        url("./../public/fonts/NotoSans/woff/NotoSans-Regular.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
