@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Sans";
    src: url("./../public/fonts/NotoSans/woff2/NotoSans-Regular.woff2")
            format("woff2"),
        url("./../public/fonts/NotoSans/woff/NotoSans-Regular.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
